<div id="respostasEscolas"class="carousel-item">
    <div class="container justify-content-center w-100 mb-4 card-body shadow-lg bg-light rounded px-4 pt-1">

        <h3>Respostas Questionários:</h3>
        <br>

        <div class="container d-flex justify-content-evenly mb-4">
            {% comment %} <div class="">
                <h5>Escolares:</h5>
                <ol>

                    {% for qr in questionariosRespondidos %}
                    <p>
                        <a class="text-black" href="{% url 'siteCecane:respostasIndex' slug=qr.slug%}">
                            {{qr.nome}} -
                        <small style="font-size:10px; color:#349eeb">
                            <i>
                                Clique para acessar
                            </i>
                        </small>
                        </a>
                    </p>
                    {% endfor %}
                </ol>
            </div> {% endcomment %}
            
            <div class="">
                {% comment %} <h5>CAE:</h5> {% endcomment %}
                <ol>

                    {% for qr in questionariosRespondidos %}
                    <p>
                        <a class="text-black" href="{% url 'siteCecane:respostasComplexasDetail' slug=qr.slug%}">
                            {{qr.nome}} -
                        <small style="font-size:10px; color:#349eeb">
                            <i>
                                Clique para acessar
                            </i>
                        </small>
                        </a>
                    </p>
                    {% endfor %}
                </ol>
            </div>
            {% comment %} <div class="">
                <h5>Gestão Agricultura Familiar:</h5>
                <ol>


                </ol>
            </div> {% endcomment %}
        </div>
    </div>
</div>
