{% if ehEstagiario or ehGestor or ehSuperUser%}

    <form method="post">
        {% csrf_token %}

            <br>
            <strong style="font-weight: 500;" class="d-block mb-1">{{ form.escola.label }}</strong>

                {{form.escola}}

            {% for questao in questoes %}
                <div class="d-block justify-content-center;">
                    <div>

                        <div class="d-flex justify-content-inline">
                            <b class="text-black">	{{forloop.counter}} - {{questao.descricao|safe}}</b>
                        </div>




                        <div class="d-flex align-items-center ">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input bg-secondary" type="radio" id="{{questao.id}}1" name="{{questao.id}}" value="1">
                                <label class="form-check-label" for="{{questao.id}}1">Sim</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input bg-secondary" type="radio" id="{{questao.id}}0" name="{{questao.id}}" value="0">
                                <label class="form-check-label" for="{{questao.id}}0">Não</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input bg-secondary" type="radio" id="{{questao.id}}2" name="{{questao.id}}" value="2">
                                <label class="form-check-label" for="{{questao.id}}2">Não se aplica</label>
                            </div>

                        </div>

                    </div>

                </div>
            {% endfor %}

        <p>

        </p>
        <input type="submit" class="btn btn-success" value="Enviar">
    </form>
{% endif %}