{% extends 'base/base.html' %}
{% load static %}

{% block title %}Questionários{% endblock%}


{% block content %}

    {% if ehGestor or ehSuperUser%}
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                {% if message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show">{{ message|escape }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|escape }}
                    <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
        <div class="controls">

            <ul class="mt-4 nav nav-tabs">
                <li class="nav-item" data-bs-target="#custom_carousel" data-bs-slide-to="0">
                    <a class="nav-link active" aria-current="page" href="#">Questionários</a>
                </li>
                <li class="nav-item" data-bs-target="#custom_carousel" data-bs-slide-to="1">
                    <a class="nav-link" href="#">Respostas</a>
                </li>
                <li class="nav-item" data-bs-target="#custom_carousel" data-bs-slide-to="2">
                    <a class="nav-link" href="#">Relatórios</a>
                </li>
            </ul>
        </div>
        <div id="custom_carousel" class="carousel slide shadow-lg bg-light" data-bs-interval="false" data-ride="carousel" data-pause="hover" style="border-radius:0 0.5rem 0.5rem 0.5rem">
            <div class="carousel-inner">
                <div class="carousel-item active p-3">
                    <div class="container justify-content-center w-100 card-body px-4 pt-1">
                        <h3 class="ml-3">Seus Questionários:</h3>

                        <div class="d-flex justify-content-start mb-4">
                            <div class="">
                                <ol>
                                    {% for q in questionario %}
                                        <li>
                                            <a class="text-black" href="{% url 'questionariosDetail' slug=q.slug%}">
                                                {{q.nome}} - {{q.get_tipoDoQuestionario_display}}
                                            </a>
                                            
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="carousel-item p-3">
                    <div class="container justify-content-start w-100 mb-4 card-body px-4 pt-1">
                
                        <h3>Seus Questionários com Respostas:</h3>
                
                        <div class="d-flex justify-content-start mb-4">
                            <div class="">
                                <ol>
                                    {% for qr in questionariosRespondidos %}
                                        <li>
                                            <a class="text-black" href="{% url 'respostasDetail' slug=qr.questionario__slug%}">
                                                {{qr.questionario__nome}} -
                                            <small style="font-size:10px; color:#349eeb">
                                                <i>
                                                    Clique para acessar
                                                </i>
                                            </small>
                                            </a>

                                            <a class="btn btn-primary m-2" href="{% url 'respostasDetailFiltered' slug=qr.questionario__slug%}">
                                                Filtrado somente com Respostas completas
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item p-3">
                    <div class="container justify-content-start w-100 mb-4 card-body px-4 pt-1">
                
                        <h3>Seus Relatórios sobre os Questionários:</h3>
                
                        <div class="d-flex justify-content-start mb-4">
                            <div class="">
                                <ol>
                                    {% for qr in questionariosRespondidos %}
                                        <li>
                                            <a class="text-black" href="{% url 'relatoriosDetail' slug=qr.questionario__slug%}">
                                                {{qr.questionario__nome}} -
                                            <small style="font-size:10px; color:#349eeb">
                                                <i>
                                                    Clique para acessar
                                                </i>
                                            </small>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    {% endif %}

{% endblock %}
