{% extends 'base/base.html' %}
{% load static %}


{% block title %}Questionários Respondidos{% endblock%}


{% block content %}
<div class="container justify-content-center w-100 card-body shadow-lg bg-light rounded px-4 pt-1 mt-4">
 
    <div class="container mt-4 mb-4">
        <div>

            <h1>Quem Respondeu o {{questionario.nome}}:</h1>
            <br>
            <h6>Temos {{pessoas.0.dados|length}} respostas.</h6>
        </div>
        <br>
        <div>
            {% for item in pessoas %}
                <div>

                    {% if item.cidade %}
                        <h5>{{item.cidade}}</h5>
                    {% endif %}

                    <ul>
                        {% for dado in item.dados %}
                            <li> 
                                <span>{{forloop.counter}} - {{dado.pessoa.nome|safe}} {{dado.pessoa.sobrenome|safe}}</span> 

                                {% if dado.pessoa.cargo %}
                                    - <span>{{dado.pessoa.cargo|safe}}</span>
                                {% endif %} 

                                <a type="button" class="text-primary btn " data-bs-toggle="modal" data-bs-target="#respostas{{dado.pessoa.id}}" onClick="assoativaFunction({{dado.pessoa.id}})"><i>Clique para ver respostas</i></a>
                                
                                {% include "questionario/questionarios/modais/modalRespostas.html" with elemento=dado %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            
            {% endfor %}
        </div>
    </div>
</div>     
<script>
    function assoativaFunction(pessoa){

        $(`#respostas${pessoa} [data-tipo=3]`).each(function(){
            var idQuestao = this.id.replace('questao-','')
            var range = $(`#respostas${pessoa} #rangeAssociativa-${idQuestao}`).val()
            var value = $(`#respostas${pessoa} #valueAssoativa-${idQuestao}`).val()
            var listComboValues = value.split(',')

                listComboValues.forEach((item)=>{
                    var [opcao, associativa] = item.split(':')
                    // console.log(`Questão: ${idQuestao} - Opção: ${opcao} - Associativa: ${associativa}`)
                    var opcaoId = $(`#respostas${pessoa} [data-opcao=${opcao}]`)[0].id.replace(`opcao-${idQuestao}-`,'')

                    $(`#respostas${pessoa} #associativa-${idQuestao}-${associativa}-${pessoa}`).val(opcaoId)

                    // console.log($(`#respostas${pessoa} #associativa-${idQuestao}-${associativa}-${pessoa}`).val())
                    
                })

            // console.log(`ID: ${idQuestao} - Range: ${range} - Value: ${value}`)
        })

    }
</script>


{% endblock %}