{% extends 'base/base.html' %}

{% load static %}

{% block title %}Cadastro{% endblock %}

{% block content %}


<div class="container d-flex align-items-top justify-content-between">

    <div class="logoCadastro">
        <img src="{% static 'assets/IMG/LogoTelaCadastro.png' %}" alt="Logo Nutricionistas" width="600">
    </div>


    <div class=" ">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        {% if textSucess == 'Sucesso' %}
                            <div class="alert alert-success bg-success alert-dismissible fade show text-white">
                                Cadastro realizado com sucesso, você pode fazer login <a class="btn-link nav-link text-white"
                                href="{% url 'siteCecane:login' %}">clicando aqui!</a>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
                            </div>
                        {% else %}
                            <div class="alert alert-success alert-dismissible fade show text-white">
                                {{ message|safe}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    {% else %}
						<div class="alert alert-warning alert-dismissible fade show text-white" >{{ message|escape }}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
						</div>
					{% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post" class="" validate>
            {% csrf_token %}
            <h2 class="">Cadastre-se</h2>
            <div class="col">
                {{form.erros}}
                <div class="row g-2">

                    <div class="col-md">
                        <div class="form-floating">
                        <input name="nome" type="text" class="form-control" id="nome_id" placeholder=" " value="" required>
                        <label for="floatingInputGrid">Nome</label>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="col-md">
                            <div class="form-floating">
                                <input name="sobrenome" type="text" class="form-control" id="sobrenome_id" placeholder=" " value="" required>
                                <label for="floatingInputGrid">Sobrenome</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                        <input name="senha" type="password" class="form-control" id="senha_id" minlenght="8" maxlength="20" placeholder=" " value="" required>
                        <label for="floatingInputGrid">Senha</label>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="col-md">
                            <div class="form-floating">
                                <input name="senhaConfirma" type="password" class="form-control" id="confirm_senha_id" placeholder=" " value="" required>
                                <label for="floatingInputGrid">Confirme sua senha</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-floating">
                    <input name="email" type="email" class="form-control" id="email_id" placeholder="name@example.com" required>
                    <label for="floatingInput">Email</label>
                </div>

                <div class="row g-2">

                    <div class="col-md">

                        <div class="form-floating">
                            <input name="cpf" class="form-control" minlenght="11" maxlength="11" id="cpf_id" placeholder=" " required pattern="[0-9]{11}">
                            <label for="floatingInput">CPF  <small><i>(Somente números)</i></small></label>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-floating">
                            <input name="dataNascimento" type="date" class="form-control" maxlength="10" id="data_id" placeholder=" ">
                            <label for="floatingInput">Data de Nascimento</label>
                        </div>
                    </div>
                </div>

                <div class="row g-2">
                    <div id="dddCadastro" class="col-2">

                        <div class="form-floating">
                            <input name="ddd" type="tel" class="form-control" minlenght="2" maxlength="2" id="ddd_id" placeholder=" " required>
                            <label for="floatingInput">DDD</label>
                        </div>
                    </div>

                    <div id="telefoneCadastro" class="col-4">

                        <div class="form-floating">
                            <input name="telefone" type="tel" class="form-control" minlenght="8" maxlength="9" id="telefone_id" placeholder=" " pattern="[0-9]{10-11}" required>
                            <label for="floatingInput">Telefone</label>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-floating">
                            {% for item in form %}
                                {% if item.name == 'sexo' %}
                                    {{item}}

                                {% endif %}
                            {% endfor %}
                            <label for="floatingInput">Sexo</label>

                        </div>

                    </div>
                </div>



            </div>

            <hr>
            <div class="d-flex justify-content-center col">

                <input type="submit" value="Cadastrar" class="btn" style="font-size:18px; background-color:#5f45e0; color:#ffffff; text-shadow: 1px 1px 2px #000;">
                <span class="col-2"></span>
            </div>

            <hr>
            <div class="d-flex justify-content-center row">
                <ol class="col">
                    <ul>

                        <p class="text-center">Perdeu sua senha? <a href="#" style="color:#5f45e0;">Recupere aqui.</a></p>
                    </ul>
                    <ul>

                        <p class="text-center">Você já tem um cadastro? <a href="{% url 'siteCecane:login' %}" style="color:#5f45e0;">Entre aqui.</a></p>
                    </ul>

                </ol>
                <span class="col-2">

                </span>

            </div>
        </form>

    </div>



</div>


{% endblock%}
