<!-- Modal -->
<div class="modal modal-xl fade" id="respostas{{elemento.pessoa.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Respostas de <i>{{elemento.pessoa.nome}} {{elemento.pessoa.sobrenome}}</i>{% if elemento.pessoa.idade %} - ({{elemento.pessoa.idade}}) anos {% endif %} {% if elemento.pessoa.cargo %} - <b>{{elemento.pessoa.cargo}} {% endif %}{% if elemento.pessoa.cidade %}de {{elemento.pessoa.cidade}}</b>{% endif %}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <ol>
                        {% for resposta in elemento.respostas %}
                            <li> 
                                <p>
                                    <b>
                                        <i>
                                            {{resposta.pergunta.descricao|safe}}
                                        </i>
                                    </b>
                                    <br>
                                    {% if elemento.tipo != 3%}
                                        <span>{{resposta.valor|safe}}</span>
                                    {% endif %}
                                </p>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>