{% extends 'base/base.html' %}
{% load static %}

{% block title %}Questionários{% endblock%}


{% block content %}

    {% if ehEstagiario or ehGestor or ehSuperUser%}

        <div class="controls container ">

            <ul class="mt-4 nav nav-pills nav-fill ">
                <section class="d-flex fs-4 ">

                    <li data-bs-target="#custom_carousel" data-bs-slide-to="0" class="active"><a href="#">
                        <a class="nav-link active" aria-current="page" href="#">Questionários</a>
                    </li>

                    <li data-bs-target="#custom_carousel" data-bs-slide-to="1"><a href="#">
                        <a class="nav-link" href="#">Respostas</a>
                    </li>
                </section>

            </ul>
        </div>



        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                {% if message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show">{{ message|escape }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
                </div>
                {% else %}
                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|escape }}
                    <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close">X</button>
                </div>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
        <div id="custom_carousel" class="carousel slide .bg-light" data-bs-interval="false" data-ride="carousel" data-pause="hover">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container justify-content-center w-100 card-body shadow-lg bg-light rounded px-4 pt-1">
                        <h3 class="ml-3">Questionários Disponíveis:</h3>

                        <div class="container d-flex justify-content-evenly mb-4">


                            {% comment %} <div class="">
                                <h5>Escolares:</h5>

                                <ol>

                                    {% for q in questionario %}
                                        {% if q.tipoDoQuestionario == 0 %}
                                            <li>

                                                <a class="text-black" href="{% url 'siteCecane:questionariosDetail' slug=q.slug%}">
                                                    {{q.nome}}
                                                </a>

                                            </li>
                                        {% endif %}

                                    {% endfor %}
                                </ol>
                            </div> {% endcomment %}

                            <div class="">
                                <h5>Questionário CAE:</h5>

                                <ol>

                                    {% for q in questionario %}
                                        {% if q.tipoDoQuestionario == 1 %}
                                            <li>

                                                <a class="text-black" href="{% url 'siteCecane:questionariosDetail' slug=q.slug%}">
                                                    {{q.nome}}
                                                </a>

                                            </li>
                                        {% endif %}

                                    {% endfor %}
                                </ol>
                                <br>
                                <h5>Agricultura Familiar:</h5>

                                <ol>

                                    {% for q in questionario %}
                                        {% if q.tipoDoQuestionario == 2 %}
                                            <li>

                                                <a class="text-black" href="{% url 'siteCecane:questionariosDetail' slug=q.slug%}">
                                                    {{q.nome}}
                                                </a>

                                            </li>
                                        {% endif %}

                                    {% endfor %}
                                </ol>
                                <br>
                                <h5>Gestão Agricultura Familiar:</h5>

                                <ol>

                                    {% for q in questionario %}
                                        {% if q.tipoDoQuestionario == 3 %}
                                            <li>

                                                <a class="text-black" href="{% url 'siteCecane:questionariosDetail' slug=q.slug%}">
                                                    {{q.nome}}
                                                </a>

                                            </li>
                                        {% endif %}

                                    {% endfor %}
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>

                {% include 'siteCecane/questionarios/includes/respostas/respostasQuestionarioEscolar.html' %}
            </div>
        </div>
    {% endif %}

{% endblock %}
