{% extends 'base/base.html'%}

{% load static %}

{% block title %}CECANE-TO{% endblock %}

{% block content %}
    <script src="{% static "assets/JS/ShowCaption.js" %}"></script>
    <script src="{% static "assets/JS/LinksUteis.js" %}" defer></script>


    <div class="container-fluid">
        <div class="container">

            <!--Carrosel de imagens-->
            <div id="carouselExampleFade" class="carousel slide carousel-fade mb-3" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for item in slideshow %}
                        <div class="carousel-item {% if forloop.first %} active{% endif %}">
                            <img class="carousel-img" src="{{item.img.url}}" alt="{{item.titulo}}">
                            <div class="carousel-caption d-none d-md-block" style="background-color: #00000050; width: 100%; left: 0%;">
                                <h5 class="title-carousel">{{item.titulo}}</h5>
                                <p class="description-carousel" style="margin-inline: 50px;">{{item.subtitulo}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% comment %} <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próximo</span>
                </button> {% endcomment %}
            </div>
        
        </div>

        {% if eventos %}
            <p class="fs-3 title" style="padding-left:16px; margin:0;">
                Notícias
            </p>

            <br>

            <div class="container d-flex justify-content-between" id="container-eventos" style="padding-bottom: 0px;">

                
                {% for evento in eventos %}
                        <div class="card shadow">
                            <div class="card-body text-center">
                                <h5 class="card-title mt-4">{{evento.titulo|truncatechars:50}}</h5>
                                <p class="card-text mt-4">{{evento.subtitulo|truncatechars:100}}</p>
                                <a href="{% url "questionario:eventos" %}" class="btn btn-eventos rounded-4 mt-4">Mais informações</a>
                            </div>
                        </div>
                {% endfor %} 
            </div>

            <div class="d-flex justify-content-center mb-4">

                <a href="{% url "questionario:eventos" %}" class="btn btn-eventos rounded-4 mt-4">Ver todas</a>
                
                <br>
            </div>

        {% endif %}

        <div class="container my-2 py-2" style="">
            
            <p  class="fs-3 title" style="padding-left:16px;">Nosso Objetivo</p>

            <p class="text-dark text-opacity-75 p-sobre">
                Fazer a assessoria e monitoramento na execução do PNAE junto ao Estado e a Municípios do Tocantins, por meio do apoio técnico e operacional a todos os atores envolvidos na execução do Programa para sua melhor execução.
            </p>
            <div class="d-flex justify-content-center pb-2">
                <a href="{% url "questionario:sobre" %}" class="btn fs-5 btn-success text-white rounded-4 mt-4" style="margin-right: 1rem;">Sobre nós</a>
                <a href="{% url "questionario:equipe" %}" class="btn fs-5 btn-outline-success rounded-4 mt-4">Equipe</a>
            </div>
        </div>

        <hr>

        <div class="container my-2 py-2" style="">
            
            <p  class="fs-3 title" style="padding-left:16px;">Repositório de Documentos<br>
                <small  class="title fs-6" style="padding-left:16px;">Resoluções, Modelos de Documentos, Informes e muito mais.</small>
            </p>

            <div class="d-flex justify-content-center pb-2">
                <a href="{% url "questionario:repositorio" %}" class="btn fs-4 btn-success text-white rounded-4 mt-4" style="margin-right: 1rem;">Acessar repositório</a>
            </div>
        </div>

        <hr>

        <div class="container py-3" style="">
            <p class="fs-3 title" style="padding-left:16px;">
                Controle Social - CAE            
            </p>
            
            <div class="d-flex justify-content-center pb-2">
                <div class="swiper mySwiper w-100">
                    <div class="swiper-wrapper">

                        {% for link in links_cae %}
                            <div class="swiper-slide" style="">
                                <div class="card shadow" style="width: 100%; max-height:15rem;">
                                    <a class="list-item" href="{{link.descricao}}" style="text-decoration: none;" target="_blank" rel="noopener noreferrer">
                                        <div class="card-body text-center pt-5">
                                            <span>
                                                <i class="fa-solid fa-file-lines fa-2xl" style="color: #275902;"></i>
                                            </span>
                                            <h5 class="card-title mt-4">{{link.nome}}</h5>
                                            <span class="card-text mt-4">
                                                <a class="list-item" href="{{link.descricao}}" target="_blank" rel="noopener noreferrer">Clique para acessar</a>
                                            </span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination "></div>
                  </div>
            </div>
        </div>

        <div class="container py-3" style="">
            <p class="fs-3 title" style="padding-left:16px;">
                Links Úteis            
            </p>
            
            <div class="d-flex justify-content-center pb-2">
                <div class="swiper mySwiper w-100">
                    <div class="swiper-wrapper">

                        {% for link in links_uteis %}
                            <div class="swiper-slide" style="">
                                <div class="card shadow" style="width: 100%; max-height:15rem;">
                                    <a class="list-item" href="{{link.descricao}}" style="text-decoration: none;" target="_blank" rel="noopener noreferrer">
                                        <div class="card-body text-center pt-5">
                                            <span>
                                                <i class="fa-solid fa-file-lines fa-2xl" style="color: #275902;"></i>
                                            </span>
                                            <h5 class="card-title mt-4">{{link.nome}}</h5>
                                            <span class="card-text mt-4">
                                                <a class="list-item" href="{{link.descricao}}" target="_blank" rel="noopener noreferrer">Clique para acessar</a>
                                            </span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination "></div>
                  </div>
            </div>
        </div>

        {% if noticias %}
            <p class="fs-3 title" style="padding-left:16px; margin:0;">
                Notícias
            </p>

            <br>

            <div class="container d-flex justify-content-between" id="container-noticias" style="padding-bottom: 0px;">

                
                {% for noticia in noticias %}
                        <div class="card shadow">
                            <div class="card-body text-center">
                                <h5 class="card-title mt-4">{{noticia.titulo|truncatechars:50}}</h5>
                                <p class="card-text mt-4">{{noticia.subtitulo|truncatechars:100}}</p>
                                <a href="{% url "questionario:noticias" %}" class="btn btn-noticias rounded-4 mt-4">Mais informações</a>
                            </div>
                        </div>
                {% endfor %} 
            </div>

            <div class="d-flex justify-content-center mb-4">

                <a href="{% url "questionario:noticias" %}" class="btn btn-noticias rounded-4 mt-4">Ver todas</a>
                
                <br>
            </div>

        {% endif %}

        <div class="container my-2">

            <p class="fs-3 title" style="padding-left:16px;">
                Confira nosso Instagram
            </p>

            <br>
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-77820707-8b52-42d2-acb6-a95bf74da4a7"></div>

        </div>
    </div>

{% endblock%}