{% extends 'base/base.html' %}

{% load static %}

{% block title %}Política de Privacidade{% endblock %}

{% block content %}
    
    <div class="container-fluid">
        
        <h1 class="text-success text-center">Política de Privacidade</h1>

        <br>
        
        <p style="padding-left: 1.5rem; padding-right:1.5rem;">
            O <b class="text-success">Cecane</b> não coleta cookies nem compartilha dados dos usuários cadastrados em nenhum local. 
            A seguir, detalhamos as informações que coletamos e como as utilizamos.
        </p>
        
        <ol class="mt-4">
            <li>
                <span class="fw-bold text-success">
                    Dados Coletados e Finalidades
                </span>

                <br>

                <p>
                    Coletamos os dados pessoais fornecidos pelos usuários no momento do cadastro, como nome e e-mail, com a finalidade de permitir o acesso ao conteúdo do aplicativo.
                </p>
            </li>

            <li>
                <span class="fw-bold text-success">
                    Segurança dos Dados
                </span>

                <br>

                <p>
                    Adotamos medidas de segurança para proteger os dados dos usuários cadastrados, a fim de evitar acessos não autorizados, alterações ou divulgações não autorizadas.
                </p>
            </li>

            <li>
                <span class="fw-bold text-success">
                    Direitos do Titular dos Dados
                </span>

                <br>

                <p>
                    Os usuários cadastrados têm o direito de acessar, corrigir e excluir seus dados pessoais a qualquer momento.
                </p>
            </li>

            <li>
                <span class="fw-bold text-success">
                    Atualizações na Política
                </span>

                <br>

                <p>
                    Esta política de privacidade pode ser atualizada periodicamente, e as alterações serão publicadas nesta página.
                </p>
            </li>
        </ol>

        <p class="mt-5 mx-4 text-success fw-bold">
            Caso haja alguma dúvida ou preocupação em relação à política de privacidade do Cecane, entre em contato conosco por meio das informações de contato disponíveis no site ou aplicativo.
        </p>
    </div>
{% endblock%}
