{% extends 'base/base.html' %}

{% load static %}

{% block title %}Noticias{% endblock %}

{% block content %}
    

<p class="fst-italic fs-2 fw-bolder text-center" id="text-field">Notícias</p>

        <div id="Noticias-containerBlock" class="container text-white py-2 py-sm-0">

            <div id="noticias-fieldBlock" class="row" >
                
                {% for noticia in noticias %}
                        <div class="noticiasBlock col">
                            <img src="{{noticia.img.url}}" class="img-noticia" alt="...">
                            <h4 class="text-white">{{noticia.titulo}}</h4>
                            <p>{{noticia.subtitulo}}</p>
                            <div class="w-100 d-xl-none"><hr></div>
                        </div>
                {% endfor %}
                
                <hr>

            </div>
            
        </div>

        <br>


{% endblock%}
